<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.cms.type.mapper.CMSTypeMapper">
    <resultMap type="CMSType" id="CMSTypeResult">
        <id     property="typeId"        column="type_id"       />
        <result property="typeName"      column="type_name"     />
        <result property="typeDesc"      column="type_desc"     />
        <result property="typeSort"      column="type_sort"     />
        <result property="createBy"      column="create_by"     />
        <result property="createTime"    column="create_time"   />
        <result property="updateBy"      column="update_by"     />
        <result property="updateTime"    column="update_time"   />
        <result property="remark"        column="remark"        />
    </resultMap>

    <sql id="selectCMSTypeVo">
        select type_id,  type_name,type_desc ,type_sort,  create_by, create_time, remark
		from cms_type
    </sql>
    <!--修改公告类型-->
    <update id="updateCMSType">
        update cms_type
        <set>
            <if test="typeName != null and typeName != ''">type_name = #{typeName},</if>
            <if test="typeSort != null and typeSort != ''">type_sort = #{typeSort},</if>
            <if test="typeDesc != null">type_desc = #{typeDesc},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where type_id = #{typeId}
    </update>
    <!--删除公告类型-->
    <delete id="deleteCMSTypeByIds" parameterType="Long">
        delete from cms_type where type_id in
        <foreach collection="array" item="typeId" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </delete>

    <!--加载公告类型信息-->
    <select id="selectCmsTypeList" parameterType="CMSType" resultMap="CMSTypeResult">
        <include refid="selectCMSTypeVo"/>
        <where>
            <if test="typeName != null and typeName != ''">
                AND type_name like concat('%', #{typeName}, '%')
            </if>
        </where>
    </select>
    <!--根据公告类型名称获取公告类型信息-->
    <select id="checkCMSTypeNameUnique" parameterType="String" resultMap="CMSTypeResult">
        <include refid="selectCMSTypeVo"/>
        where type_name=#{type_name}
    </select>
    <!--根据Id获取公告类型信息-->
    <select id="selectCmsTypeById" resultMap="CMSTypeResult">
        <include refid="selectCMSTypeVo"/>
        where type_id=#{typeid}
    </select>
    <!--新增公告类型-->
    <insert id="insertCMSType"  parameterType="CMSType" useGeneratedKeys="true" keyProperty="typeId">
        insert into cms_type(
        <if test="typeId != null and typeId != 0">type_id,</if>
        <if test="typeName != null and typeName != ''">type_name,</if>
        <if test="typeSort != null and typeSort != ''">type_sort,</if>
        <if test="typeDesc != null and typeDesc != ''">type_desc,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="typeId != null and typeId != 0">#{typeId},</if>
        <if test="typeName != null and typeName != ''">#{typeName},</if>
        <if test="typeSort != null and typeSort != ''">#{typeSort},</if>
        <if test="typeDesc != null and typeDesc != ''">#{typeDesc},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
</mapper>